.createNewButton{
    padding: 10px;
    width: 150px;
    margin: 10px 10px 10px 0px;
}

.createNewAlbumBox{
    border-style: solid;
    border-radius: 20px;
}

.createTitle{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.createAlbumDetails{
    display: flex;
}

.createAlbumImage{
    flex: 1;
    padding: 10px
}

.createAlbumDetailsBox{
    flex: 3;
}

.createAlbumDetailsBox{
display: flex;
flex-direction: column;
justify-content: space-around;
    padding: 10px
}

.createAlbumDetailsSaveButtonRow{
    display: flex;
    justify-content: flex-end;
}

.createAlbumDetailsButton{
    padding: 10px;
    width: 120px;
}

.createTextfield{
    width: 400px;
}

.createTrackImage{
    padding: 10px;
}

.createTrackImageFile{
    height: 150px;
}

.createSave{
    display: flex;
    justify-content: flex-end;
}

.createSaveButton{
    padding: 10px;
    margin : 10px;
    width: 120px;
}

.createAddNewTrack{
    display: flex;
    justify-content: center;
}

.createAddNewTrackButton{
    padding: 10px;
    margin : 10px;
    width: 120px;
}

.CreateSongImageFile{
    width: 300px;
    height: 300px;
}