.feedCardContainer{
    margin-top: 10px;
    background-color: rgb(180, 160, 254);
    border-radius: 50px;
    border-style: solid;
    padding: 10px 0px;
}

.feedCardTitle{
    font-size: xx-large;
    font-weight: bold;
    padding: 10px 10px 10px 30px;

}

.feedCardCards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    margin-bottom: 20px;
}