.audioCardContainer{
    padding: 10px;
}

.audioCardBox{
    border-radius: 10px;
    padding: 10px;
}

.audioCardImageFile{
    width: 100%;
}

.audioCardTitle{
    text-align: center;
}

.audioCardButton{
    margin-top: 5px;
    text-align: center;
}