.mynftsContainer{
    margin-top: 20px;
    width: 60%;
    margin: auto;
}

.mynftsTitle{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin: 20px 0px;
}

.mynftsContent{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-between;
}